.container {
  width: 42px;
  height: 24px;
  border: 1.5px solid #a46bfc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 12px;
}

.ball {
  width: 17px;
  height: 17px;
  background-color: #a46bfc;
  border-radius: 50%;
  position: absolute;
}
