.container {
}

.mainTitle {
  margin-top: 100px;
  font-size: 36px;
  margin-bottom: 0px;
  text-align: start;
  font-family: helvetica-bold;
}

.catTitle {
  font-size: 32px;
  font-family: helvetica-bold;
  color: #a46bfc;
  margin-bottom: 60px;
}

.item {
  display: flex;
  gap: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.item:nth-child(2n + 2) {
  flex-direction: row-reverse;
}

.imgContainer {
  flex: 1;
  width: 400px;
  height: 532px;
  position: relative;
}

.img {
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.title {
  font-family: helvetica-bold;
  font-size: 36px;
}

.desc {
  font-family: helvetica-normal;
  font-size: 20px;
  margin-bottom: 20px;
}
